* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: linear-gradient(#CE9FFC, #736);
}